<h3>User Registration</h3>

{{#if message}}
	<div class="alert fade in {{#if error}}alert-danger{{else}}alert-success{{/if}}">
		{{message}}
	</div>
{{/if}}

<form method="post" action="{{FormAction}}">

	<div class="form-group">
		<label for="firstname">First Name:</label>
		<input type="text" class="form-control" id="firstname" name="firstname">
	</div>

	<div class="form-group">
		<label for="lastname">Last Name:</label>
		<input type="text" class="form-control" id="lastname" name="lastname">
	</div>

	<div class="form-group">
		<label for="email">Email address:</label>
		<input type="email" class="form-control" id="email" name="email">
	</div>

	<div class="form-group">
		<label for="pwd">Password:</label>
		<input type="password" class="form-control" id="pwd" name="pwd">
	</div>

	<div class="form-group">
		<label for="repwd">Re-Password:</label>
		<input type="password" class="form-control" id="repwd" name="repwd">
	</div>

	<div class="form-group">
		<input type="hidden" class="form-control" id="process" name="process" value="1">
	</div>

	{{!-- Removing the concept of debug. Instead implelement dump like coldfusion look at /helpers/dump.js --}}
	{{!-- {{#if debug }}
	{{#each query}}
		<input type="hidden" name="debug" id="debug" value="1">
		<div>{{@key}} : {{this}}</div>
	{{/each}}
	{{/if}} --}}

	<button type="submit" class="btn btn-default">Submit</button>
</form>